<md-card-title>

    <md-card-title-text>
        <span class="md-headline"><h4>News Feed:</h4></span>
        <!--<span class="md-subhead"></span>-->
    </md-card-title-text>

</md-card-title>

<md-card-content>
    New Pattern added. Click <a>here</a> to find out!
</md-card-content>
