
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<md-toolbar class="md-primary " style="background-color:#2c3e50" mv-toolbar>

</md-toolbar>

<md-content role="main" ui-view="content" flex>

</md-content>

<!--stuff that belongs outside of the md-content container like fab buttons-->
<!--<md-bottom-sheet style="background-color:#E6E6E6" >
    <md-menu>
        <p style="display: inline; font-weight: bold; font-size: x-small">Feedback</p>
        <p style="display: inline; font-weight: bold; font-size: x-small">Sitemap</p>
        <p style="display: inline; font-weight: bold; font-size: x-small">Feedback</p>
        <p style="display: inline; font-weight: bold; font-size: x-small">Impressum</p>
    </md-menu>
</md-bottom-sheet>-->
<div ui-view="outside"></div>







