<div class="md-toolbar-tools">
    <!--<div ncy-breadcrumb class="ui-breadcrumbs md-title"></div>-->
    <div class="toolbar-menuitems">
        <div layout="row" layout-align="start center" flex="30" ng-click="go('/landing')">
            <img class="tumlogo" src="../../data/img/tum-logo.png"/>
            <div flex="5"></div>
            <h1 align="left" style="font-size: x-large;font-weight: bold;">Nostradamus</h1>
        </div>

        <!-- not logged in -->
        <!--<md-menu ng-if="loggedIn">-->
        <div layout="row" layout-align="start center" flex="60">
            <md-button ng-click="go('/dashboard')" ng-if="loggedIn">
                <span class="md-body-2" hide-xs ng-if="loggedIn">Dashboard</span>
            </md-button>
            <md-button ng-click="go('/pattern')" ng-if="loggedIn">
                <span class="md-body-2" hide-xs ng-if="loggedIn">Identify Pattern</span>
            </md-button>
            <md-button ng-click="go('/dashboard')" ng-if="loggedIn">
                <span class="md-body-2" hide-xs ng-if="loggedIn">Identify AntiPattern</span>
            </md-button>
            <md-button ng-click="go('/dashboard')" ng-if="loggedIn">
                <span class="md-body-2" hide-xs ng-if="loggedIn">Learning Center</span>
            </md-button>
        </div>
        <!--</md-menu>-->

        <!-- not logged in -->
        <!-- <span class="md-body-2" hide-xs ng-if="!loggedIn"></span> -->
        <!--<md-menu md-position-mode="target-right target" ng-if="!loggedIn">-->

            <!--md-button ng-click="showSignupDialog()"-->
                <!--span class="md-body-2" hide-xs ng-if="!loggedIn">Login / Register</span>
            <!../md-button>
        <!--</md-menu>-->

        <span style="margin-top: 10px;font-size: small;width: 100px" class="md-body-2" hide-xs ng-if="!loggedIn">Not logged in</span>
        <md-menu md-position-mode="target-right target" ng-if="!loggedIn">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="showLoginDialog()">
                        Log in
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="showSignupDialog()">
                        Sign Up
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <!-- logged in -->
        <span style="font-size: small;width: 100px" class="md-body-2" ng-if="loggedIn">Hello, {{user.username}}</span>
        <md-menu md-position-mode="target-right target" ng-if="loggedIn">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="logout()">
                        Log out
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>