<form name="loginForm" ng-submit="login()">
    <md-toolbar style="background-color:#2c3e50">
        <div class="md-toolbar-tools">
            <h2>Welcome back!</h2>
        </div>
    </md-toolbar>

    <md-dialog-content layout-margin>
        <h2 class="md-title md-primary">Login</h2>
        <span class="md-body-2 mv-error-text" ng-show="errorText">{{errorText}}</span>
        <md-input-container class="md-block">
            <label>Username</label>
            <input required name="username" ng-model="username">
            <div ng-messages="loginForm.username.$error">
                <div ng-message="required">Username is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" required ng-model="password">
            <div ng-messages="loginForm.password.$error">
                <div ng-message="required">Password is required.</div>
            </div>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-around center">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button type="submit" ng-disabled="loginForm.$invalid">
            Log in
        </md-button>
    </md-dialog-actions>

</form>