<md-card-title>

    <md-card-title-text>
        <span class="md-headline"><h4>Number of subscription days left :</h4></span>
        <!--<span class="md-subhead"></span>-->
    </md-card-title-text>

</md-card-title>

<md-card-content>
    <uib-progressbar id="progressbar" type='warning' max='days' value='daysRem' color="green">
        <span style="color:black;"><b> {{daysRem}}/{{days}} </b></span>
    </uib-progressbar>
</md-card-content>
