<md-card-title>

    <md-card-title-text>
        <span class="md-headline"><h4>Nostradamus Success Ratio :</h4></span>
        <!--<span class="md-subhead"></span>-->
    </md-card-title-text>

</md-card-title>

<md-card-content>
    <canvas id="doughnut" class="chart chart-doughnut"
            chart-data="pieChartData" chart-labels="pieChartLabels" chart-legend="true"
            chart-colors="pieChartColors"></canvas>
</md-card-content>