<md-card-title>
    <md-card-title-text>
        <p style="vertical-align: bottom">{{comment.author}} says..</p>
        <span class="md-subhead" style="text-align: center">“{{comment.text}}”</span>
    </md-card-title-text>
    <md-card-title-media>
    </md-card-title-media>
</md-card-title>
<md-card-actions layout="row" layout-align="end center">
</md-card-actions>