<img style="padding-left: 50px;padding-right: 50px; padding-top: 30px" src="../../data/img/user_new.png" height="20px" width="20px"/>
<md-card-title>
    <md-card-title-text>
        <span class="md-headline" style="text-align: center">{{person.name}}</span>
        <span style="text-align: center">{{person.role}}</span>
    </md-card-title-text>
    <md-card-title-media>
    </md-card-title-media>
</md-card-title>
<md-card-actions layout="row" layout-align="center center">
    <md-button>LinkedIN</md-button>
    <md-button>Contact</md-button>
</md-card-actions>