<style>
    .tableCell{
        max-height:10px;
        width:150px;
    }

</style>

<md-card-title>

    <md-card-title-text>
        <span class="md-headline">Your History</span>
    </md-card-title-text>

</md-card-title>

<md-card-content>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>

    <br/>

    <md-table-container>
        <table class="table table-hover table-mc-light-blue table-bordered">
            <thead >
            <tr >
                <th class="tableCell">Date</th>
                <th class="tableCell">Use Case</th>
                <th class="tableCell">Result</th>
                <th class="tableCell">Rating</th>
                <th class="tableCell">Comments</th>
            </tr>
            </thead>
            <tbody >
            <tr dir-paginate="data in dashboardTable | filter:search | itemsPerPage:10 | orderBy:-data.date" class="tableCell">
                <td data-title="dateOfUse" class="tableCell">{{data.analysisDate| date : format : 'MMM d, y'}}</td>
                <td data-title="shortDesc" class="tableCell">{{data.userStoryName}}</td>
                <td data-title="result" class="tableCell">{{data.analysisResult}}</td>
                <td data-title="rating" class="tableCell">
                    <span ng-if="!data.resultRating">
                        <a href="javascript:void(0);" ng-click = "showFeedbackForm()">Click to rate</a>
                    </span>
                    <span ng-if="data.resultRating==5" flex>
                        <span ng-repeat="i in [1,2,3,4,5]">
                            <ng-md-icon icon="star_rate" style="fill:#DAA520" size="30"></ng-md-icon></span>
                    </span>
                    <span ng-if="data.resultRating==4" flex>
                        <span ng-repeat="i in [1,2,3,4]">
                            <ng-md-icon icon="star_rate" style="fill:#DAA520" size="30"></ng-md-icon></span>
                    </span>
                    <span ng-if="data.resultRating==3" flex>
                        <span ng-repeat="i in [1,2,3]">
                            <ng-md-icon icon="star_rate" style="fill:#DAA520" size="30"></ng-md-icon></span>
                    </span>
                    <span ng-if="data.resultRating==2" flex>
                        <span ng-repeat="i in [1,2]">
                            <ng-md-icon icon="star_rate" style="fill:#DAA520" size="30"></ng-md-icon></span>
                    </span>
                    <span ng-if="data.resultRating==1" flex>
                        <ng-md-icon icon="star_rate" style="fill:#DAA520" size="30"></ng-md-icon>
                    </span>

                </td>
                <td data-title="comment">
                    <span ng-if="!data.userFeedback">TO BE RATED</span>
                    <span>{{data.userFeedback}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
    </dir-pagination-controls>
</md-card-content>