<div layout="row" layout-padding>

    <div flex="75">

        <md-card mv-history></md-card>

    </div>

    <div flex="25">

        <md-card mv-subscription-card></md-card>

        <md-card mv-dashboard-news-feed></md-card>

        <md-card mv-suggested-pattern></md-card>

        <md-card mv-success-ratio></md-card>

    </div>

</div>
<div mv-c-footer >

</div>