<!-- <md-grid-list style="margin: 8px;"
              md-cols-xs="1" md-cols-sm="1" md-cols-md="1" md-cols-gt-md="1"
              md-row-height-gt-md="3:1" md-row-height="3:1"
              md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile style="background: #84ffff"
                  md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
        <md-button class="md-icon-button" ng-click="prevSlide()">
        <md-icon md-menu-origin md-svg-icon="navigation:ic_chevron_left_24px"></md-icon>
        </md-button>
        <img ng-repeat="slide in slides" class="slide"
             ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
        <md-button class="md-icon-button" ng-click="nextSlide()">
            <md-icon md-menu-origin md-svg-icon="navigation:ic_chevron_right_24px"></md-icon>
        </md-button>
        <md-grid-tile-footer>
                    <md-button ng-repeat="slide in slides" class="md-icon-button" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">
                        •
                    </md-button>
        </md-grid-tile-footer>
    </md-grid-tile >
</md-grid-list>-->
<div layout="row" layout-padding layout-wrap style="padding-bottom: 10px;" ng-cloak>
    <div flex="70">
    <md-whiteframe style="background-color:#E6E6E6;" class="md-whiteframe-1dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout="row" layout-align="left">
        <h3 style="text-align: center;padding-left: 10px;">
            What is Nostradamus?
        </h3>
        <p style="padding-left: 20px; padding-right: 20px;padding-top: 10px;text-align: justify">
            The goto tool for pattern identification for your use cases. The importance of the Design Phase in every Software Lifecycle cannot be underestimated.Considering the importance of the Design Phase in every Software Lifecycle, the application can be used as asupport tool to significantly reduce the time invested in choosing the right design to be implemented.
        </p>
    </md-whiteframe>
        <md-whiteframe style="background-color:#E6E6E6;margin-top: 10px;" class="md-whiteframe-1dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout="row" layout-align="left">
            <h3 style="text-align: center;padding-left: 10px;">Why Nostradamus?</h3>
            <p style="padding-left: 20px; padding-right: 20px;padding-top: 10px;text-align: justify">
                In the modern day, the presence and influence of software applications in all industries is extensive. Inevitably, this

                leads to the requirement of patterns to ease the design, development, deployment and maintenance of software

                applications. However, with the presence of numerous technologies and methodologies, the various stakeholders

                involved in a project have to ensure that the right pattern is chosen based on the results of the requirements

                engineering phase.
            </p>
        </md-whiteframe>
        <h3 style="text-align: center;padding-left: 10px;">The Team</h3>
        <md-content layout-xs="column" layout="row">
            <md-card team-card style="background-color:#E6E6E6;" ng-repeat="person in persons" flex="24"></md-card>
        </md-content>
    <div flex></div>
    <div layout="row" layout-padding layout-wrap style="padding-bottom: 10px;" ng-cloak>

    </div>
    </div>
    <div flex>
        <!--<md-grid-list style="margin: 8px;"
                      md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2"
                      md-row-height-gt-md="3:2" md-row-height=1:1"
                      md-gutter="12px" md-gutter-gt-sm="8px" >
            <md-grid-tile style="background: #84ffff"
                          md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                <h5 style="padding: 20px">“Curabitur tristique felis feugiat tristique scelerisque. Fusce non varius tortor. Mauris vitae porttitor ipsum.”</h5>
                <md-grid-tile-footer>
                    <p>User 1</p>
                </md-grid-tile-footer>
            </md-grid-tile >
            <md-grid-tile style="background: #b9f6ca;" md-rowspan="2">
                <h5 style="padding: 20px">“Curabitur tristique felis feugiat tristique scelerisque. Fusce non varius tortor. Mauris vitae porttitor ipsum.”</h5>
                <md-grid-tile-footer>
                    <p>User 2</p>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile style="background: #ffff8d;">
                <h6 style="padding: 20px">“Sed eu tristique mi. Maecenas sodales nulla in accumsan malesuada.”</h6>
                <md-grid-tile-footer>
                    <p>User 3</p>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile style="background: #ff8a80;">
                <p style="padding: 10px">“Donec varius ligula dui, nec cursus lorem ornare quis. Ut sed pulvinar arcu, quis dignissim ante. Ut ultrices justo ac euismod mattis.”</p>
                <md-grid-tile-footer>
                    <p>User 4</p>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>-->
        <md-whiteframe style="background-color:#E6E6E6;" class="md-whiteframe-1dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout="column" layout-align="left">
            <h3 style="text-align: center;padding-left: 10px;">Feedbacks</h3>
            <md-card layout="row" feedback-item style="background-color:#FFFFFF;" ng-repeat="comment in feedbacks" flex></md-card>
        </md-whiteframe>
    </div>
</div>
<div mv-c-footer></div>