<div layout="row" class="patternDiv" flex="100" layout-align="center center" layout-margin="40px">

    <md-tabs md-whiteframe="3" flex="50" md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex" >
        <md-tab id="addUserStory" class="pattern-tab-content" label="Add your user story">
            <md-content layout="row" flex="100" class="md-neu-content md-padding">
                <form name="AddYourUserStory" layout="column" layout-align=" stretch" class="md-neu-form">
                    <p><i>Add a
                        UseCase Name
                        and
                        UseCase Description that is relevant to you requirement e.g. requirement id, requirement
                        description</i></p>
                    <md-input-container>
                        <label>UseCase Name</label>
                        <input type="text" name="useCaseName" ng-model="useCaseName" required md-maxlength="20">
                        <div ng-messages="AddYourUserStory.useCaseName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>UseCase Description</label>
                        <input required  type="text" name="useCaseDesc" ng-model="useCaseDesc">
                        <div ng-messages="AddYourUserStory.useCaseDesc.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
                        </div>
                    </md-input-container>

                    <div layout="row" layout-align="end end">
                        <md-button name="proceedButton" class="md-raised md-primary" ng-show="AddYourUserStory.useCaseName.$valid && AddYourUserStory.useCaseDesc.$valid" ng-click="submitUseCase()">Proceed</md-button>
                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab ng-repeat="tab in tabs" ng-class="{active : disableValue[tab.index] }" label="{{tab.title}}" id="{{tab.title}}">
            <md-content class="md-padding">
                <h1 class="md-display-2">{{currentQuestion.question}}</h1>
                <md-radio-group ng-model="selectedOption">
                    <md-radio-button ng-repeat="option in currentQuestion.questionOptions" ng-value="option.value" aria-label="{{option.name}}">
                        {{ option.name }}
                    </md-radio-button>
                </md-radio-group>
                <div layout="row" layout-align="end end">
                    <md-button class="md-raised md-primary" ng-click="nextQuestion(selectedOption)">Next</md-button>
                </div>
            </md-content>
        </md-tab>

    </md-tabs>
</div>